$white: rgb(249, 249, 249);
$black: rgb(29, 29, 29);
$turquoise: rgb(27, 226, 252);
$purple: #96179d;
$pink: #e10856;
$grey: rgba(29, 29, 29, 0.5);
$light-grey: rgb(44, 44, 44);

$body-bg: $black;
$main-color: $white;
$sub-color: $turquoise;
$txt-color: $white;

$box-shadow: rgba(0, 0, 0, 0.16) 0px 40px 40px 8px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Lato", sans-serif;
